@import "tailwindcss";

@font-face {
  font-family: "Switzer";
  src: url("https://cdn.fontshare.com/wf/FNIFJSIDTIJKHIJSDH7E2O6IX7LGQWXJ/GYZZH3T7DFCV5SXQDDPKNDOLXSRHD6SH/RLHF7S2LQMDDWNGOKJ2TIVBAPFXNV3WM.woff2")
    format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer";
  src: url("https://cdn.fontshare.com/wf/FNIFJSIDTIJKHIJSDH7E2O6IX7LGQWXJ/GYZZH3T7DFCV5SXQDDPKNDOLXSRHD6SH/S5JBGPYKQPVQVBOCIBMPBG2DWV76SLJY.woff2")
    format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}

@theme {
  --font-sans: "Switzer", ui-sans-serif, system-ui, sans-serif;
}

html {
  font-family: var(--font-sans);
}

body {
  @apply bg-zinc-950 text-zinc-100 antialiased;
}
